.jumbotron{
   background-image: url("../img/pizza_png.png");
}
h1 {
  display: flex;
   padding:0;
   margin: 0;
   justify-content: center;
   border-radius: .20em;
   border: 10px;
   background-color: ghostwhite;
    opacity: 50%;

}

h2 {
    display: flex;
    border: 10px;
    background-color: deepskyblue;
    border-radius: .15em;
    color: white;
}
