.fancy-header {
    color: mediumseagreen;
    text-decoration: underline;
}
h1 {
    text-align:center;
}

body {
    background-color: bisque;
    background-image: url("../img/blurred_jpeg.jpeg");
    background-position: center;
    background-size: cover;
    height: 200%;
}

ul > li {
    list-style-type: circle;
}

* {
    font-family: Cochin, cursive;
}

td, tr {
    padding: 20px;
    font-size: 1em;
}

a {
    color: darkgreen;
    transition: 500ms;
}

a:hover {
    color: greenyellow;
    font-size: 2em;
    transition: 700ms;
}

a:visited {
    color: limegreen;
}

